### Heroes Of Pymoli Data Analysis
* Of the 1163 active players, the vast majority are male (84%). There also exists, a smaller, but notable proportion of female players (14%).

* Our peak age demographic falls between 20-24 (44.8%) with secondary groups falling between 15-19 (18.60%) and 25-29 (13.4%).  
-----

### Note
* Instructions have been included for each segment. You do not have to follow them exactly, but they are included to help you think through the steps.

In [2]:
# Dependencies and Setup
import pandas as pd
import numpy as np

# File to Load (Remember to Change These)
file_to_load = "Resources/purchase_data.csv"

# Read Purchasing File and store into Pandas data frame
purchase_data = pd.read_csv(file_to_load)

## Player Count

* Display the total number of players

In [17]:
player_count = len(purchase_data['SN'].unique())
total_players = pd.DataFrame({'Total Players': [player_count]})
total_players

   Total Players
0            576

## Purchasing Analysis (Total)

* Run basic calculations to obtain number of unique items, average price, etc.


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [63]:
unique_items = len(purchase_data['Item Name'].unique())
average_price = purchase_data['Price'].mean()
number_purchases = len(purchase_data['Item Name'])
total_revenue = purchase_data['Price'].sum()

summary = []

summary.append(unique_items)
summary.append("$" + str(round(average_price,2)))
summary.append(number_purchases)
summary.append("$" + str(number_purchases))

summary1 = pd.DataFrame([summary], columns = ['Unique Items','Average Price','Number of Purchases','Total Revenue'])

summary1

   Unique Items Average Price  Number of Purchases Total Revenue
0           179         $3.05                  780          $780

## Gender Demographics

* Percentage and Count of Male Players


* Percentage and Count of Female Players


* Percentage and Count of Other / Non-Disclosed

In [129]:
duplicate = purchase_data.drop_duplicates(subset='SN', keep="first")

totalGender = duplicate['Gender'].count()
totalMale = duplicate['Gender'].value_counts()['Male']
totalFemale = duplicate['Gender'].value_counts()['Female']
totalOther = duplicate['Gender'].value_counts()['Other / Non-Disclosed']

percentMale = totalMale/totalGender
percentFemale = totalFemale/totalGender
percentOther = totalOther/totalGender

genderDemographics = pd.DataFrame({"Gender":["Male","Female","Other"],
                                   "Total Count":[totalMale,totalFemale,totalOther],
                                   "Percentage of Players":[percentMale,percentFemale,percentOther]})

genderDemographics["Percentage of Players"] = genderDemographics["Percentage of Players"].mul(100).astype(int).astype(str).add('%')



genderDemographics

   Gender  Total Count Percentage of Players
0    Male          484                   84%
1  Female           81                   14%
2   Other           11                    1%


## Purchasing Analysis (Gender)

* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. by gender




* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [103]:

grouped_df = purchase_data.groupby(["Gender"])


purchaseCount = grouped_df["SN"].count()
purchasePrice = grouped_df["Price"].mean()
purchaseValue = grouped_df["Price"].sum()


duplicate = purchase_data.drop_duplicates(subset='SN', keep="first")
grouped_dup = duplicate.groupby(["Gender"])


purchaseavgperson = (grouped_df["Price"].sum() / grouped_dup["SN"].count())


PurchaseAnalysisGender = pd.DataFrame({"Purchase Count": purchaseCount,
                              "Average Purchase Price": purchasePrice,
                              "Total Purchase Value": purchaseValue,
                              "Avg Total Purchase per Person": purchaseavgperson})

PurchaseAnalysisGender["Average Purchase Price"] = PurchaseAnalysisGender["Average Purchase Price"].map("${:.2f}".format)
PurchaseAnalysisGender["Total Purchase Value"] = PurchaseAnalysisGender["Total Purchase Value"].map("${:.2f}".format)
PurchaseAnalysisGender["Avg Total Purchase per Person"] = PurchaseAnalysisGender["Avg Total Purchase per Person"].map("${:.2f}".format)
PurchaseAnalysisGender = PurchaseAnalysisGender[["Purchase Count", "Average Purchase Price", "Total Purchase Value", "Avg Total Purchase per Person"]]



PurchaseAnalysisGender

,Purchase Count,Average Purchase Price,Total Purchase Value,Avg Total Purchase per Person
Gender,,,,
Female,113,$3.20,$361.94,$4.47
Male,652,$3.02,$1967.64,$4.07
Other / Non-Disclosed,15,$3.35,$50.19,$4.56

## Age Demographics

* Establish bins for ages


* Categorize the existing players using the age bins. Hint: use pd.cut()


* Calculate the numbers and percentages by age group


* Create a summary data frame to hold the results


* Optional: round the percentage column to two decimal points


* Display Age Demographics Table

In [136]:

bins = [0,10,15,20,25,30,35,40,200]
bin_labels = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']


bin_df = purchase_data.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=bin_labels)
group_bin = bin_df.groupby(["Age Groups"])


binCount = group_bin["SN"].count()
countTotal = purchase_data["SN"].count()
percentage = (binCount / countTotal) * 100
percentage


Age_Percentage = pd.DataFrame({"Total Count": binCount,
                         "Percentage of Players": percentage})


Age_Percentage["Percentage of Players"] = Age_Percentage["Percentage of Players"].map("{:.2f}%".format)
Age_Percentage.head(10)

            Total Count Percentage of Players
Age Groups
Under 10             32                 4.10%
10 - 14              54                 6.92%
15 - 19             200                25.64%
20 - 24             325                41.67%
25 - 29              77                 9.87%
30 - 34              52                 6.67%
35 - 39              33                 4.23%
Over 40               7                 0.90%

## Purchasing Analysis (Age)

* Bin the purchase_data data frame by age


* Run basic calculations to obtain purchase count, avg. purchase price, avg. purchase total per person etc. in the table below


* Create a summary data frame to hold the results


* Optional: give the displayed data cleaner formatting


* Display the summary data frame

In [144]:

bins = [0,10,15,20,25,30,35,40,200]
bin_labels = ['Under 10', '10 - 14', '15 - 19', '20 - 24', '25 - 29', '30 - 34', '35 - 39', 'Over 40']


bin_df = purchase_data.copy()
bin_df["Age Groups"] = pd.cut(bin_df["Age"], bins, labels=bin_labels)
group_bin = bin_df.groupby(["Age Groups"])


binPCount = group_bin["Age"].count()
binPAver = group_bin["Price"].mean()
binPTotal = group_bin["Price"].sum()



# Create new DF and format
Agedemographics = pd.DataFrame({"Purchase Count": binPCount,
                         "Average Purchase Price": binPAver,
                         "Total Purchase Value": binPTotal})
Agedemographics

            Purchase Count  Average Purchase Price  Total Purchase Value
Age Groups
Under 10                32                3.405000                108.96
10 - 14                 54                2.900000                156.60
15 - 19                200                3.107800                621.56
20 - 24                325                3.020431                981.64
25 - 29                 77                2.875584                221.42
30 - 34                 52                2.994423                155.71
35 - 39                 33                3.404545                112.35
Over 40                  7                3.075714                 21.53

## Top Spenders

* Run basic calculations to obtain the results in the table below


* Create a summary data frame to hold the results


* Sort the total purchase value column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [146]:
sntotal_purchase = purchase_data.groupby('SN')['Price'].sum().to_frame()
snpurchase_count = purchase_data.groupby('SN')['Price'].count().to_frame()
snpurchase_avg = purchase_data.groupby('SN')['Price'].mean().to_frame()

sntotal_purchase.columns=["Total Purchase Value"]
join_one = sntotal_purchase.join(snpurchase_count, how="left")
join_one.columns=["Total Purchase Value", "Purchase Count"]

join_two = join_one.join(snpurchase_avg, how="inner")
join_two.columns=["Total Purchase Value", "Purchase Count", "Average Purchase Price"]

topspenders_df = join_two[["Purchase Count", "Average Purchase Price", "Total Purchase Value"]]
topspenders_final = top_spenders_df.sort_values('Total Purchase Value', ascending=False).head()
topspenders_final.style.format({"Average Purchase Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Popular Items

* Retrieve the Item ID, Item Name, and Item Price columns


* Group by Item ID and Item Name. Perform calculations to obtain purchase count, item price, and total purchase value


* Create a summary data frame to hold the results


* Sort the purchase count column in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the summary data frame

In [166]:

mergeone = purchase_data.groupby("Item Name").sum().reset_index()
mergetwo = purchase_data.groupby("Item ID").sum().reset_index()
mergethree = purchase_data.groupby("Item Name").count().reset_index()

#merge dataframes
finalmergeone = pd.merge(mergeone, mergetwo, on="Price")
finalmergetwo = pd.merge(mergethree, finalmergeone, on="Item Name")

#start to create final dataframe by manipulating data
finalmergetwo["Gender"] = (finalmergetwo["Price_y"]/finalmergetwo["Item ID"]).round(2)

finalmergetwo_renamed = finalmergetwo.rename(columns={"Age": "Purchase Count", "Gender": "Item Price", "Item ID": "null", "Price_y": "Total Purchase Value", "Item ID_y": "Item ID"})

#grab columns we are looking for
clean_df = finalmergetwo_renamed[["Item ID", "Item Name", "Purchase Count", "Item Price", "Total Purchase Value"]]

most_pop = clean_df.set_index(['Item Name', 'Item ID'])
most_popfinal = most_pop.sort_values('Purchase Count', ascending=False).head(5)
most_popfinal.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})

## Most Profitable Items

* Sort the above table by total purchase value in descending order


* Optional: give the displayed data cleaner formatting


* Display a preview of the data frame

In [165]:
most_popfinal = prefinal_df.sort_values('Total Purchase Value', ascending=False).head()
most_popfinal.style.format({"Item Price": "${:.2f}", "Total Purchase Value": "${:.2f}"})